<h1>Project Management System</h1>

<nav>
  <ul>
    <li><a routerLink="/">HomePage</a></li>
    <li><a routerLink="/api/projects/listAll">All Projects</a></li>
    <li><a routerLink="/api/projects/filter">Filter Projects</a></li>
    <li><a routerLink="/api/projects/new-project">Create New Project</a></li>
    <li><a routerLink="/api/projects/project-details">Search Project with Id</a></li>
    <li><a routerLink="/api/projects/update">Update Project</a></li>
    <li><a routerLink="/api/projects/delete">Delete Project</a></li>
  </ul>
</nav>

<div class="container-text">
  <div>
    <h2>Welcome!</h2>
    <p>Use this Project Management System to manage and monitor your projects. Here are the main features the system can offer:</p>
    
    <ul>
        <li><strong>All Projects:</strong> List all your projects and track their overall status.</li>
        <li><strong>Filter Projects:</strong> Use different filter options to manage projects. These filtering options include Project Manager, Project Name, Project Topic, Status, Within 1 week, Within 2 weeks, Within 1 mounth and the relevant results will be displayed according to the criteria you select.</li>
        <li><strong>Create New Project:</strong> Create new projects and add them to the management system.</li>
        <li><strong>Search Project with Id:</strong> Access the details of any project with the Project Id and get up-to-date information.</li>
        <li><strong>Update Project:</strong> Update your existing projects, change information such as project name, start date, end date, etc. via Project Id.</li>
        <li><strong>Delete Project:</strong> Remove projects that are no longer needed from the system.</li>
    </ul>
    
    <p>If you have any problems using the platform or need additional assistance, please do not hesitate to contact us. Good work!</p>
  </div>
</div>

