<div class="update-project">
    <h2>Update Project</h2>
    <!-- Project Update Form -->
    <form #updateForm="ngForm" (ngSubmit)="updateProject()">
      <div class="form-group">
        <label for="projectId">Project ID</label>
        <input type="number" id="projectId" name="projectId" [(ngModel)]="project.id" required>
      </div>
      <div class="form-group">
        <label for="projectName">Project Name</label>
        <input type="text" id="projectName" name="projectName" [(ngModel)]="project.projectName" required>
      </div>
      <div class="form-group">
        <label for="projectTopic">Project Topic</label>
        <input type="text" id="projectTopic" name="projectTopic" [(ngModel)]="project.projectTopic" required>
      </div>
      <div class="form-group">
        <label for="projectStartDate">Start Date</label>
        <input type="date" id="projectStartDate" name="projectStartDate" [(ngModel)]="project.projectStartDate" required>
      </div>
      <div class="form-group">
        <label for="projectEndDate">End Date</label>
        <input type="date" id="projectEndDate" name="projectEndDate" [(ngModel)]="project.projectEndDate" required>
      </div>
      <div class="form-group">
        <label for="projectManager">Project Manager</label>
        <input type="text" id="projectManager" name="projectManager" [(ngModel)]="project.projectManager" required>
      </div>
      <div class="form-group">
        <!-- Dropdown of states -->
        <label for="projectStatus">Project Status</label>
        <select id="projectStatus" name="projectStatus" [(ngModel)]="project.projectStatus" required>
          <option value="PLANNING">PLANNING</option>
          <option value="IN_PROGRESS">IN_PROGRESS</option>
          <option value="COMPLETED">COMPLETED</option>
          <option value="CANCELED">CANCELED</option>
        </select>
      </div>
      <button type="submit">Update</button>
    </form>
    <div class="homepage-button-yer">
        <a class="homepage-button" href="/">HomePage</a>
    </div>
  </div>